<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131672805361-hgoke8lnschsd77cf7us9s248u0sruop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131672805361-hgoke8lnschsd77cf7us9s248u0sruop</string>
	<key>API_KEY</key>
	<string>AIzaSyCXpFesIKII9pOU5T4VZaI_oN3uFvnuLbs</string>
	<key>GCM_SENDER_ID</key>
	<string>131672805361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touchAndHear.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-tkugimot</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-tkugimot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131672805361:ios:d778e570f830394689be50</string>
</dict>
</plist>